Button {
    width:70%;
}

.emailTxt {
    font-size: 18;
    /* background-color:#A5C9C9; */
    width:95%;
    /* border-width:1; */
    height:40;
    border-radius: 10;
    font-weight: 400;
    border-color:#505066;
    padding:0 0 0 10;
}

.passwordTxt {
    font-size: 18;
    width:95%;
    /* border-width:1; */
    height:40;
    border-radius: 10;
    font-weight: 400;
    border-color:#505066;
    padding:0 0 0 10;
}

.emailTxt:focus,.passwordTxt:focus {
    border-bottom-width: 0;
    border-color:transparent;
    border-color:#A5C9C9;
}


.btn-transparent {
    border-radius: 6;
}

.copyright {
    color:#A5C9C9;
    font-size:17;
    font-weight: 400;
}

hr {
    color:#A5C9C9;
    opacity:0.5;
}
