<ScrollView scroll="onScroll">
    <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center" backgroundColor="#3D9B99">
      <Image src="res://app-logo.png" width="60" height="60" borderColor="#505066" borderWidth="3" borderRadius="15" stretch="aspectFill" ></Image>
      <StackLayout [formGroup]="form" >
          <StackLayout>
              <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
          </StackLayout>
          <StackLayout >
              <Label *ngIf="!emailControlIsValid" text="Please enter a valid email."></Label>
              <TextField class="emailTxt"
              hint="Email" returnKeyType="next"
              required keyboardType="email"
              [autocorrect]="false"
              autocapitalizationType="none"
              formControlName="email"></TextField>
          </StackLayout>
          <StackLayout width="93%" class="hr"></StackLayout>
          <StackLayout >
              <Label *ngIf="!passwordCntrlIsValid" text="Please enter a valid password."></Label>
              <TextField class="passwordTxt" hint="Password" returnKeyType="Done"
                  required
                  [autocorrect]="false"
                  autocapitalizationType="none"
                  [secure]="true"
                  formControlName="password"
                  #passwordEl
                  (returnPress)="onDone()">
              </TextField>
          </StackLayout>
      </StackLayout>
      <Button
          [text]="isLogin? 'Login' : 'SignUp'"
          class="btn btn-primary nt-input" [isEnabled]="true"
          (tap)="onSubmit()" [clearHistory]="true"
          *ngIf="!isLoading">
      </Button>
      <Button class="btn-transparent" [text]="isLogin? 'SignUp Instead': 'Login instead'" (tap)="onSwitch()">
      </Button>
      <Label class="copyright m-t-30" text="© atha corp. 2020"></Label>

    </FlexboxLayout>
</ScrollView>

