<ns-action-bar
    title="Get Tips"
    [showBackButton]="false">
</ns-action-bar>

<FlexboxLayout flexDirection="column" justifyContent="flex-start" alignItems="center" >
    <!-- <Image src="res://app-logo.png" class="m-b-20 animate-label" width="60" height="60" borderColor="#505066" borderWidth="3" borderRadius="15"  ></Image>-->
    <Label class="h1" color="#000000" text="Prefer." marginTop="50"></Label>
    <StackLayout margin="20" marginTop="50" >
        <GridLayout width="290" columns="auto, *, auto" rows="auto, 25" verticalAlignment="top" >
            <Image src="res://yoga" rowSpan="2" width="40" height="40" margin="10" verticalAlignment="top"></Image>
            <Label class="introTextTitle" text="Set an activity challenge." textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="10"></Label>
        </GridLayout>
    </StackLayout>
</FlexboxLayout>

