
@import './app.common.css';

.-outline {
    border-color:#333399;
}

Button {
    font-size:18;
    letter-spacing: .030;
    font-weight: 300;
}

.btn {
    color:#333399;
    width:65%;
}

.btn-primary {
    background-color:#333399;
    color:white;
    border-radius:6;
}

.btn-success {
    background-color:#3D9B99;
    color:white;
    border-radius:6;
}

.btn-danger {
    background-color:#E67373;
    color:white;
    border-radius:6;
}

.btn-label {
    color:#333399;
}

/* .nt-input {
    font-size:18;
} */


TextField {
    border-bottom-width: 0;
}

TextView {
    border-bottom-width: 0;
    font-size:17;
}

.h1 {
    color:#333399;
    font-weight: 700;
}

.body {
    font-size:15;
    font-weight: 400;
    color:#505066;
}

ActivityIndicator {
    color:#333399;
}

/* .fa {
    font-size:24;
} */

@keyframes slide-up {
    from {
        transform:translateY(30);
    }
    to {
        transform:translateY(0);
    }
}



