.nt-form {
    justify-content:flex-start;
    flex-direction: column;
    align-items:center;
    background-color:#E6E6E6;
}

.nt-input {
    border-color:#333399;
    width:100%;
    background: white;
    font-size:18;
}

.invalid {
    color:#E67373;
}

.titleEdit {
    font-size: 17;
}

.descEdit {
    font-size: 17;
}
